export REGION="us-west-2"
export PREFIX="k8s"
export PROJECT_ID=stakxlv0
export GCLOUD_TF_CREDS="${HOME}/.config/gcloud/${PROJECT_ID}-terraform-admin.json"
export TF_ADMIN="${PROJECT_ID}-terraform-admin"
export TF_STATE_BUCKET="${PROJECT_ID}-tf-states"
export GOOGLE_APPLICATION_CREDENTIALS=${GCLOUD_TF_CREDS}
export GOOGLE_PROJECT=${PROJECT_ID}
export GCLOUD_CONFIG="${HOME}/.config/gcloud/configurations/config_default"
export KUBECONFIG=inventory/admin.conf
export GCEREGION="europe-west2"